.testimonials {
  text-transform: lowercase;
  padding: 80px 0;
}

.testimonials-container {
  font-size: 0.875em;
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.text {
  font-style: italic;
  margin-bottom: 25px;
  width: 470px;
}

img {
  width: 60px;
}

.user {
  margin-top: 5px;
  font-weight: 700;
}

h2 {
  font-size: 1.5625em;
}

h2:after {
  content: " ";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #91204D;
  margin: 3px 0 0 0;
}
