  <div>
     <p-dialog header="Create New Text Reminder" [(visible)]="display" modal="modal" showEffect="fade">

      <form class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" (ngSubmit)="addText()">
        Phone Number
        <input pInputText type="text" [(ngModel)]="event.phone" name="phone" placeholder="e.g. 14151234567">
        <br>
        Text Message
        <input pInputText type="text" [(ngModel)]="event.text" name="text" placeholder="...add a text message">
        <br>
        Set Reminder Time
        <p-calendar [(ngModel)]="event.time" name="time" inputStyleClass="ui-calendar" dateFormat="yy-mm-dd" timeFormat="HH:mm:ss">
        </p-calendar>

        <button pButton class="ui-button" type="submit" label="Add"></button>
      </form>

      </p-dialog>

      <button type="text" class="ui-button" (click)="showDialog()" pButton label="Create Text Reminder"></button>
    </div>