.nav-container {
      border: 1px solid #DFDFDF;
    }

    nav {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .app-nav-links {
      list-style-type: none;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .app-nav-links li {
      margin-left: 60px;
    }

    .app-nav-brand {
      color: #91204D;
      letter-spacing: 0.01875em;
      text-transform: lowercase;
      font-weight: 700;
    }

    .nav-link a {
      text-decoration: none;
      color: #4A4A4A;
      font-size: 0.875em;
      letter-spacing: 0.014375em;
      padding-bottom: 20px;
      text-transform: lowercase;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.4s;
    }

    .nav-link a:hover,
    .nav-link a:active {
      border-bottom: 2px solid #91204D;
    }