<section class="mixtape-player">
  <div class="controls">
    <span
      (click)="playNextPrevSong('backward')"
      class="glyphicon glyphicon-backward" aria-hidden="true"></span>
    <span
      (click)="togglePlay()"
      *ngIf="paused"
      class="glyphicon glyphicon-play" aria-hidden="true"></span>
    <span
      (click)="togglePlay()"
      *ngIf="!paused"
      class="glyphicon glyphicon-pause" aria-hidden="true"></span>
    <span
      (click)="playNextPrevSong('forward')"
      class="glyphicon glyphicon-forward" aria-hidden="true"></span>
  </div>
  <audio id="mixtape-audio" controls></audio>
</section>