html, body {
  height: 100%;
}

html, body, header, nav, div,
h1, h2, h3, p, figure, ul, input, a {
  border: 0;
  box-sizing: border-box;
  color: #4A4A4A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

section, nav{
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.color-bar {
  background-color: #91204D;
  height: 9px;
  width: 100%;
}

/* ------------------------------------------------- */
/* fixed audio player */
/* ------------------------------------------------- */

.wrapper {
  min-height: 100%;
  margin: 0 auto -80px;
}

.push {
  height: 80px;
}

footer {
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
}


/* ------------------------------------------------- */
/* preloader screen */
/* ------------------------------------------------- */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-top-color: #91204D;
  border-radius: 50%;
  z-index: 1500;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #770C37;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #C5839E;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}

/* ------------------------------------------------- */
/* page fade */
/* ------------------------------------------------- */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.chart {display: block; width: 100%;}