* {
  margin: 0;
}

html, body {
  height: 100%;
}

html, body, header, nav, div,
h1, h2, h3, p, figure, ul, input, a {
  border: 0;
  box-sizing: border-box;
  color: #4A4A4A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 100%;
  padding: 0;
}

section, nav {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -80px;
}

.push {
  height: 80px;
}

footer {
  height: 80px;
  position: fixed;
  bottom: 0;
  width: 100%;
}