<div class="fade-in container">
      <ul>
        <li><calendar-input (emitAddition)="onEmitAddition($event)"></calendar-input>
      </li>
      <li>
        <text-input (emitText)="onEmitText($event)"></text-input>
      </li>
      </ul>
    </div>

    <div>
     <p-dialog header="Your event has been added!" [(visible)]="eventmade" modal="modal" showEffect="fade">
      </p-dialog>
    </div>

    <div>
     <p-dialog header="Your text has been sent!" [(visible)]="textsent" modal="modal" showEffect="fade">
      </p-dialog>
    </div>

    <iframe *ngIf="calLoaded" [src]="trustedUrl"
    style="border: 0"
    width="1024" height="600" frameborder="0" scrolling="no">
    </iframe>