html, body, header, nav, div,
h1, h2, h3, p, figure, ul, input, a {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #4A4A4A;
  font-size: 100%;
}

section, nav {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}