 .login-page {
      width: 100%;
      text-align: center;
    }

    .login-container,
    .partner-link-container {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    .color-bar {
      background-color: #91204D;
      height: 9px;
      width: 100%;
    }

    p {
      font-size: 1.5625em;
      font-weight: 700;
    }

    .google-signin-button {
      cursor: pointer;
    }

    .google-signin-button img {
      width: 190px;
      height: auto;
      margin-top: 7px;
    }

    input[type="text"] {
      border: 1px solid #E1E1E1;
      height: 26px;
      margin-top: 10px;
      width: 250px;
      padding: 0 10px;
      font-family: inherit;
      font-size: 12px;
    }

    a {
      font-size: 12px;
      padding: 3px 0;
      display: inline-block;
      margin-top: 5px;
      height: 25px;
      color: #FFF;
      background-color: #91204D;
      width: 250px;
    }